# Mengatur akhir baris otomatis untuk semua file teks
* text=auto

# Mengabaikan perubahan pada spasi kosong di akhir baris untuk semua file
* -text

# Mengatur akhir baris khusus untuk file Python
*.py text eol=lf

# Mengabaikan perubahan pada file JSON
*.json -text
